.document-wraper{
  box-sizing: border-box;
  padding: 2rem 1.5rem 0;
  .document-form-inline{
    display: flex;
    justify-content: flex-start;
  }
  .upload-form-inline{
    display: flex;
    justify-content: flex-start;
    .upload-document{
      width: 335px;
      .el-upload-list__item-name{
        text-align: left;
      }
    }
  }

  .pagination{
    margin-top: 20px;
  }
  .CodeMirror {
    text-align: left;
    width: 400px;
    line-height: 30px;
  }
}
.doc-config-wraper{
  .footer{
    text-align: right;
  }
  .CodeMirror {
    text-align: left;
  }
}
