.shells-wraper{
  //height: 450px;
  box-sizing: border-box;
  height: 100%;
  .indexContainer{
    box-sizing: border-box;
    //height: 100% !important;
  }
}
.sftp-container{
  background-color: slategray;
  text-align: left;
  .sftp-container>div{

  }
}
